[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.43"
sha2 = "0.11.0-rc.4"
hex = "0.4.3"
async-trait = "0.1.89"
uuid = {version = "1.20.0", features = ["v4"]}